# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
clean_env/
clean_env1/
venv/
.env/

# Environment Variables
.env
.env.*

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary Files
*.tmp
*.temp

# OSV Scanner Cache
osv-scanner/

# Temp folders
tmp/
temp/

# VSCode / IDE
.vscode/
.idea/